@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
     <h1>mostafa</h1>
    <h1 class="display-4">Welcome</h1>
    <p class="display-4">Start Organizing Your Task and Stay Productive</p>
    <p class="display-4">Get Started By Creating Your First TO-Do item</p>
    <a href="/Customer/Home/AllToDo" class="btn btn-success">Create New To-Do Item</a>
</div>
